<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<th:block layout:fragment="content">

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Costeo del Env&iacute;o</h2>
            <ol class="breadcrumb">
                <li>
                    <a th:href="@{/}">Inicio</a>
                </li>
                <li>
                    <a th:href="@{/costeos}">Env&iacute;os</a>
                </li>
                <li class="active">
                    <strong>Detalle: <span th:text="${costeo.costeoId}" th:remove="tag"></span></strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Datos de Env&iacute;o y Costeo</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <form id="frm-costeo" class="form-horizontal" onsubmit="return false;">
                                <input type="hidden" id="inpt-costeo-id" th:value="${costeo.costeoId}">
                                <fieldset>
                                    <h2 class="m-b-md m-l-md">Env&iacute;o</h2>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Env&iacute;o</label>
                                        <div class="col-sm-4">
                                            <input type="text"
                                                   class="form-control text-uppercase"
                                                   readonly
                                                   th:value="${costeo.envio.envioId}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Empresa</label>
                                        <div class="col-sm-4">
                                            <select class="form-control text-uppercase input-sm"
                                                    disabled>
                                                <option value="">- SELECCIONAR -</option>
                                                <option th:each="e : ${empresas}"
                                                        th:value="${e.empresaId}"
                                                        th:text="${e.empresaRazonSocial}"
                                                        th:selected="${e.empresaId == costeo.envio.empresa.empresaId}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">A&ntilde;o</label>
                                        <div class="col-sm-4">
                                            <input type="text"
                                                   class="form-control text-uppercase"
                                                   readonly
                                                   th:value="${costeo.envio.envioAnio}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Semana</label>
                                        <div class="col-sm-4">
                                            <input type="text"
                                                   class="form-control text-uppercase"
                                                   readonly
                                                   th:value="${costeo.envio.envioSemana}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Fecha Producci&oacute;n</label>
                                        <div class="col-sm-4">
                                            <input type="text"
                                                   class="form-control text-uppercase"
                                                   readonly
                                                   th:value="${#dates.format(costeo.envio.envioFechaProduccion,'dd/MM/yyyy')}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Carb Calcio Granulado</label>
                                        <div class="col-sm-4">
                                            <input type="text"
                                                   class="form-control text-uppercase"
                                                   readonly
                                                   th:value="${#numbers.formatDecimal(costeo.envio.envioCCG, 1, 3, 'POINT')}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Maiz Molido Incubadora</label>
                                        <div class="col-sm-4">
                                            <input type="text"
                                                   class="form-control text-uppercase"
                                                   readonly
                                                   th:value="${#numbers.formatDecimal(costeo.envio.envioMMI, 1, 3, 'POINT')}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Viajes Granelero (N&deg;)</label>
                                        <div class="col-sm-4">
                                            <input type="text"
                                                   id="inpt-flete-viajes"
                                                   class="form-control text-uppercase"
                                                   readonly
                                                   th:value="${#numbers.formatDecimal(costeo.envio.envioViajes, 1, 3, 'POINT')}">
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>

                                    <h2 class="m-b-md m-l-md">Costeo</h2>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Fecha Tipo Cambio</label>
                                        <div class="col-sm-4">
                                            <input type="text"
                                                   id="inpt-fecha-tipo-cambio"
                                                   name="inptFechaTipoCambio"
                                                   class="form-control text-uppercase text-bg-white"
                                                   readonly
                                                   th:value="${#dates.format(costeo.costeoFechaTipoCambio,'dd/MM/yyyy')}">
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Tipo Cambio</label>
                                            <div class="col-sm-4">
                                                <input type="text"
                                                       id="inpt-tipo-cambio"
                                                       name="inpTipoCambio"
                                                       class="form-control text-uppercase"
                                                       th:value="${#numbers.formatDecimal(costeo.costeoTipoCambio, 1, 3, 'POINT')}">
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Precio Flete x Viaje (S/)</label>
                                            <div class="col-sm-4">
                                                <input type="text"
                                                       id="inpt-precio-flete-viaje"
                                                       name="inptPrecioFleteViaje"
                                                       class="form-control text-uppercase"
                                                       th:value="${#numbers.formatDecimal(costeo.costeoPrecioFleteViaje, 1, 3, 'POINT')}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label"></label>
                                        <div class="col-sm-10">
                                            <button id="btn-actualizar-costeo" class="btn btn-warning btn-sm" type="button">
                                                <i class="fa fa-check"></i> Guardar Costeo
                                            </button>
                                        </div>
                                    </div>

                                    <div id="div-factura" th:classappend="${costeo.costeoFacturaGenerada ? '' : 'hide'}">
                                        <div class="hr-line-dashed"></div>

                                        <h2 class="m-b-md m-l-md">Factura</h2>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Factura</label>
                                            <div class="col-sm-4">
                                                <input type="text"
                                                       id="inpt-factura"
                                                       class="form-control text-uppercase"
                                                       readonly
                                                       th:value="${costeo.costeoFacturaSerie + '-' + costeo.costeoFacturaNumero}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Fecha Emisi&oacute;n</label>
                                            <div class="col-sm-4">
                                                <input type="text"
                                                       id="inpt-fecha-emision"
                                                       class="form-control text-uppercase"
                                                       readonly
                                                       th:value="${#dates.format(costeo.costeoFacturaFechaEmision,'dd/MM/yyyy')}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Gu&iacute;a Remisi&oacute;n</label>
                                            <div class="col-sm-4">
                                                <input type="text"
                                                       id="inpt-guia-remision"
                                                       class="form-control text-uppercase"
                                                       readonly
                                                       th:value="${costeo.costeoFacturaGuiaRemision}">
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="alert alert-info">
                            Para <strong>Agregar Detalles</strong>, necesita la <strong>Fecha Tipo Cambio</strong>, el
                            <strong>Tipo de Cambio</strong> y el <strong>Precio Flete x Viaje</strong>.
                        </div>

                        <button type="button" id="btn-agregar-detalle" class="btn btn-primary btn-sm m-b-sm">
                            <span class="fa fa-plus"></span> Agregar
                        </button>

                        <button type="button" id="btn-factura" class="btn btn-info btn-sm m-b-sm" th:classappend="${costeo.costeoFacturaGenerada ? 'hide' : ''}">
                            <span class="fa fa-file-text"></span> Generar Factura
                        </button>

                        <div class="table-responsive">
                            <table id="tbl-detalles" class="table table-striped table-bordered table-hover width-full">
                            </table>
                        </div>

                        <div class="hr-line-dashed"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modal-detalle" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated">
                <div class="modal-header">
                    <h4 class="modal-title">Registrar Detalle</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <form id="frm-detalle" class="form-horizontal">
                                <input type="hidden" id="inpt-costeo-detalle-id">
                                <fieldset>
                                    <h2 class="m-b-md m-t-none">F&oacute;rmula</h2>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">F&oacute;rmula</label>
                                        <div class="col-sm-8">
                                            <select id="slc-formula"
                                                    name="slcFormula"
                                                    class="form-control text-uppercase">
                                                <option value="">- SELECCIONAR -</option>
                                                <option th:each="f : ${formulas}"
                                                        th:text="${f.formulaDescripcion}"
                                                        th:value="${f.formulaId}"
                                                        th:attr="data-cantidad-producida=${f.formulaCantidadProducida}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="alert alert-warning">
                                        Solo se muestran las <strong>F&oacute;rmulas</strong> correspondientes al <strong>A&ntilde;o</strong>
                                        y <strong>Semana</strong> mostradas en el <strong>Costeo</strong>.
                                    </div>

                                    <div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Cantidad Producida</label>
                                            <div class="col-sm-4">
                                                <input type="text"
                                                       id="inpt-cantidad-producida"
                                                       class="form-control text-uppercase"
                                                       readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Factor Flete</label>
                                            <div class="col-sm-4">
                                                <input type="text"
                                                       id="inpt-factor-flete"
                                                       name="inptFactorFlete"
                                                       class="form-control text-uppercase">
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btn-guardar-detalle" class="btn btn-primary" type="button">
                        <span class="fa fa-check"></span> Guardar
                    </button>
                    <button class="btn btn-default" type="button" data-dismiss="modal">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modal-factura" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated">
                <div class="modal-header">
                    <h4 class="modal-title">Generar Factura</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <form id="frm-factura" class="form-horizontal">
                                <fieldset>
                                    <div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Fecha Emisi&oacute;n</label>
                                            <div class="col-sm-4">
                                                <input type="text"
                                                       id="inpt-factura-fecha-emision"
                                                       name="inptFacturaFechaEmision"
                                                       class="form-control text-uppercase"
                                                       readonly>
                                                <span class="help-block m-b-none">Obtenida desde <strong>Fecha Tipo Cambio</strong>.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Serie</label>
                                            <div class="col-sm-4">
                                                <input type="text"
                                                       id="inpt-factura-serie"
                                                       name="inptFacturaSerie"
                                                       class="form-control text-uppercase">
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">N&uacute;mero</label>
                                            <div class="col-sm-4">
                                                <input type="text"
                                                       id="inpt-factura-numero"
                                                       name="inptFacturaNumero"
                                                       class="form-control text-uppercase">
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Gu&iacute;a Remisi&oacute;n</label>
                                            <div class="col-sm-4">
                                                <input type="text"
                                                       id="inpt-factura-guia-remision"
                                                       name="inptFacturaRemision"
                                                       class="form-control text-uppercase">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="alert alert-warning">
                                        <strong>Importante</strong>: Aseg&uacute;rese de haber revisado la informacion
                                        de los <strong>Detalles</strong> del <strong>Costeo</strong>.
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btn-generar-factura" class="btn btn-primary" type="button">
                        <span class="fa fa-check"></span> Generar
                    </button>
                    <button class="btn btn-default" type="button" data-dismiss="modal">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>

</th:block>

<th:block layout:fragment="styles">
</th:block>

<th:block layout:fragment="scripts">
    <script th:src="${@prop.srcVersion('costeoab.server.resources.base.web','/js/pages/costeo_detalle.js')}"></script>
    <script th:inline="javascript">
        var costeoDetalle = new CosteoDetalle(/*[[@{/}]]*/'');
        costeoDetalle.init();
    </script>
</th:block>

</html>
