<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/main}">
<th:block layout:fragment="content">

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Costeos</h2>
            <ol class="breadcrumb">
                <li>
                    <a th:href="@{/}">Inicio</a>
                </li>
                <li class="active">
                    <strong>Costeos</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Costeos </h5>
                        <div class="ibox-tools">
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row p-sm">
                            <form class="form-inline" onsubmit="return false;">
                                <fieldset>
                                    <div class="form-group">
                                        <label>Empresa</label><br>
                                        <select id="slc-filtro-empresa"
                                                class="form-control text-uppercase input-sm">
                                            <option value="">- TODOS -</option>
                                            <option th:each="e : ${empresas}"
                                                    th:value="${e.empresaId}"
                                                    th:text="${e.empresaRazonSocial}">
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>A&ntilde;o</label><br>
                                        <select id="slc-filtro-anio"
                                                class="form-control text-uppercase input-sm">
                                            <option value="">- TODOS -</option>
                                            <option value="2023">2023</option>
                                            <option value="2022">2022</option>
                                            <option value="2021">2021</option>
                                            <option value="2020">2020</option>
                                            <option value="2019">2019</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Semana</label><br>
                                        <input type="text"
                                               id="inpt-filtro-semana"
                                               class="form-control text-uppercase input-sm">
                                    </div>
                                    <div class="form-group vertical-bottom">
                                        <button type="button" class="btn btn-primary btn-sm" id="btn-buscar">
                                            <i class="fa fa-search"></i> Buscar
                                        </button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="table-responsive">
                            <table id="tbl-costeos" class="table table-striped table-bordered table-hover width-full">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modal-nuevo" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated">
                <div class="modal-header">
                    <h4 class="modal-title">Nuevo Costeo</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <form id="frm-nuevo" class="form-horizontal">
                                <fieldset>
                                    <h2 class="m-b-md">Env&iacute;o</h2>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">N&uacute;mero</label>
                                        <div class="col-sm-6">
                                            <div class="input-group">
                                                <input type="text"
                                                       id="inpt-envio-id"
                                                       name="inptEnvioId"
                                                       class="form-control text-uppercase"
                                                       readonly>
                                                <span class="input-group-btn">
                                                    <button type="button" id="btn-buscar-envio" class="btn btn-success"> Buscar</button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Empresa</label>
                                        <div class="col-sm-4">
                                            <input type="text"
                                                   id="inpt-envio-empresa"
                                                   class="form-control text-uppercase"
                                                   readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">A&ntilde;o</label>
                                        <div class="col-sm-4">
                                            <input type="text"
                                                   id="inpt-envio-anio"
                                                   class="form-control text-uppercase"
                                                   readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Semana</label>
                                        <div class="col-sm-4">
                                            <input type="text"
                                                   id="inpt-envio-semana"
                                                   class="form-control text-uppercase"
                                                   readonly>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Fecha Producci&oacute;n</label>
                                        <div class="col-sm-4">
                                            <input type="text"
                                                   id="inpt-envio-fecha-produccion"
                                                   class="form-control text-uppercase"
                                                   readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Carb Calcio Granulado</label>
                                        <div class="col-sm-4">
                                            <input type="text"
                                                   id="inpt-envio-ccg"
                                                   class="form-control text-uppercase"
                                                   readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Maiz Molido Incubadora</label>
                                        <div class="col-sm-4">
                                            <input type="text"
                                                   id="inpt-envio-mmi"
                                                   class="form-control text-uppercase"
                                                   readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Viajes Granelero (N&deg;)</label>
                                        <div class="col-sm-4">
                                            <input type="text"
                                                   id="inpt-envio-viajes"
                                                   class="form-control text-uppercase"
                                                   readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Observaciones</label>
                                        <div class="col-sm-9">
                                            <textarea id="inpt-envio-observaciones"
                                                      class="form-control text-uppercase"
                                                      rows="3"
                                                      readonly></textarea>
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Observaciones</label>
                                        <div class="col-sm-9">
                                            <textarea id="inpt-observaciones"
                                                      name="inptObservaciones"
                                                      class="form-control text-uppercase"
                                                      rows="3"></textarea>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btn-guardar" class="btn btn-primary" type="button">
                        <span class="fa fa-check"></span> Guardar
                    </button>
                    <button class="btn btn-default" type="button" data-dismiss="modal">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>

</th:block>

<th:block layout:fragment="styles">
</th:block>

<th:block layout:fragment="scripts">
    <script th:src="${@prop.srcVersion('costeoab.server.resources.base.web','/js/pages/costeo_lista.js')}"></script>
    <script th:inline="javascript">
        var costeoLista = new CosteoLista(/*[[@{/}]]*/'');
        costeoLista.init();
    </script>
</th:block>

</html>