<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<th:block layout:fragment="content">

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Detalle Env&iacute;o</h2>
            <ol class="breadcrumb">
                <li>
                    <a th:href="@{/}">Inicio</a>
                </li>
                <li>
                    <a th:href="@{/envios}">Env&iacute;os</a>
                </li>
                <li class="active">
                    <strong>Detalle: <span th:text="${envio.envioId}" th:remove="tag"></span></strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Datos Generales</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <form id="frm-envio" class="form-horizontal" onsubmit="return false;">
                                <input type="hidden" id="inpt-envio-id" th:value="${envio.envioId}">
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">N&uacute;mero</label>
                                        <div class="col-sm-4">
                                            <input type="text"
                                                   class="form-control text-uppercase"
                                                   readonly
                                                   th:value="${envio.envioId}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Empresa</label>
                                        <div class="col-sm-4">
                                            <select id="slc-empresa"
                                                    name="slcEmpresa"
                                                    class="form-control text-uppercase input-sm"
                                                    disabled>
                                                <option value="">- SELECCIONAR -</option>
                                                <option th:each="e : ${empresas}"
                                                        th:value="${e.empresaId}"
                                                        th:text="${e.empresaRazonSocial}"
                                                        th:selected="${e.empresaId == envio.empresa.empresaId}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">A&ntilde;o</label>
                                        <div class="col-sm-4">
                                            <input type="text"
                                                   id="inpt-envio-anio"
                                                   class="form-control text-uppercase"
                                                   readonly
                                                   th:value="${envio.envioAnio}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Semana</label>
                                        <div class="col-sm-4">
                                            <input type="text"
                                                   id="inpt-envio-semana"
                                                   class="form-control text-uppercase"
                                                   readonly
                                                   th:value="${envio.envioSemana}">
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Fecha Producci&oacute;n</label>
                                        <div class="col-sm-4">
                                            <input type="text"
                                                   id="inpt-fecha-produccion"
                                                   class="form-control text-uppercase"
                                                   readonly
                                                   th:value="${#dates.format(envio.envioFechaProduccion,'dd/MM/yyyy')}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Carb Calcio Granulado</label>
                                        <div class="col-sm-4">
                                            <input type="text"
                                                   id="inpt-ccg"
                                                   name="inptCcg"
                                                   class="form-control text-uppercase"
                                                   readonly
                                                   th:value="${#numbers.formatDecimal(envio.envioCCG, 1, 2, 'POINT')}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Maiz Molido Incubadora</label>
                                        <div class="col-sm-4">
                                            <input type="text"
                                                   id="inpt-mmi"
                                                   name="inptMmi"
                                                   class="form-control text-uppercase"
                                                   readonly
                                                   th:value="${#numbers.formatDecimal(envio.envioMMI, 1, 2, 'POINT')}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Viajes Granelero (N&deg;)</label>
                                        <div class="col-sm-4">
                                            <input type="text"
                                                   id="inpt-viajes"
                                                   name="inptViajes"
                                                   class="form-control text-uppercase"
                                                   readonly
                                                   th:value="${#numbers.formatDecimal(envio.envioViajes, 1, 2, 'POINT')}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Observaciones</label>
                                        <div class="col-sm-9">
                                            <textarea id="inpt-observaciones"
                                                      name="inptObservaciones"
                                                      class="form-control text-uppercase"
                                                      rows="3"
                                                      readonly
                                                      th:text="${envio.envioObservaciones}"></textarea>
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Adjuntos</label>
                                        <div class="col-sm-9">
                                            <button type="button" id="btn-agregar-adjunto" class="btn btn-warning btn-xs m-b-xs">
                                                <i class="fa fa-plus"></i> Agregar
                                            </button>
                                            <table id="tbl-adjuntos" class="table table-bordered table-striped no-margin-table full-width">
                                            </table>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="alert alert-warning" th:if="${envio.costeo.costeoId == null}">
                            Se recomienda revisar las <strong>F&oacute;rmulas</strong> antes de generar el <strong>Costeo.</strong>
                        </div>

                        <button type="button" id="btn-costeo" class="btn btn-primary btn-sm m-b-sm" th:if="${envio.costeo.costeoId == null}">
                            <span class="fa fa-dollar"></span> Generar Costeo
                        </button>

                        <a th:href="@{'/costeos/detalle/' + ${envio.costeo.costeoId}}" class="btn btn-info btn-sm m-b-sm" th:if="${envio.costeo.costeoId != null}">
                            <span class="fa fa-dollar"></span> Ir al Costeo...
                        </a>

                        <div class="table-responsive">
                            <table id="tbl-detalles" class="table table-striped table-bordered table-hover width-full">
                                <tfoot>
                                <tr>
                                    <th class="text-right">TOTAL (KG)</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="alert alert-warning">
                            Los <strong>Detalles</strong> fueron obtenidos desde las <strong>F&oacute;rmulas</strong> a
                            partir de la <strong>Empresa</strong>, <strong>A&ntilde;o</strong> y <strong>Semana</strong>, al ser generado el
                            <strong>Env&iacute;o</strong>.
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modal-generar-costeo" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated">
                <div class="modal-header">
                    <h4 class="modal-title">Generar Costeo desde Env&iacute;o</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <form id="frm-generar-costeo" class="form-horizontal">
                                <fieldset>
                                    <h2 class="m-b-md m-t-n-xxs">Env&iacute;o</h2>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">N&uacute;mero</label>
                                        <div class="col-sm-4">
                                            <input type="text"
                                                   id="inpt-generar-numero"
                                                   class="form-control text-uppercase"
                                                   readonly
                                                   th:value="${envio.envioId}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Empresa</label>
                                        <div class="col-sm-4">
                                            <select id="slc-generar-empresa"
                                                    class="form-control text-uppercase input-sm"
                                                    disabled>
                                                <option value="">- SELECCIONAR -</option>
                                                <option th:each="e : ${empresas}"
                                                        th:value="${e.empresaId}"
                                                        th:text="${e.empresaRazonSocial}"
                                                        th:selected="${e.empresaId == envio.empresa.empresaId}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">A&ntilde;o</label>
                                        <div class="col-sm-4">
                                            <input type="text"
                                                   id="inpt-generar-anio"
                                                   class="form-control text-uppercase"
                                                   readonly
                                                   th:value="${envio.envioAnio}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Semana</label>
                                        <div class="col-sm-4">
                                            <input type="text"
                                                   id="inpt-generar-semana"
                                                   class="form-control text-uppercase"
                                                   readonly
                                                   th:value="${envio.envioSemana}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Fecha Producci&oacute;n</label>
                                        <div class="col-sm-4">
                                            <input type="text"
                                                   id="inpt-generar-fecha-produccion"
                                                   class="form-control text-uppercase"
                                                   readonly
                                                   th:value="${#dates.format(envio.envioFechaProduccion,'dd/MM/yyyy')}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Carb Calcio Granulado</label>
                                        <div class="col-sm-4">
                                            <input type="text"
                                                   id="inpt-generar-ccg"
                                                   class="form-control text-uppercase"
                                                   readonly
                                                   th:value="${#numbers.formatDecimal(envio.envioCCG, 1, 2, 'POINT')}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Maiz Molido Incubadora</label>
                                        <div class="col-sm-4">
                                            <input type="text"
                                                   id="inpt-generar-mmi"
                                                   class="form-control text-uppercase"
                                                   readonly
                                                   th:value="${#numbers.formatDecimal(envio.envioMMI, 1, 2, 'POINT')}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Viajes Granelero (N&deg;)</label>
                                        <div class="col-sm-4">
                                            <input type="text"
                                                   id="inpt-generar-viajes"
                                                   class="form-control text-uppercase"
                                                   readonly
                                                   th:value="${#numbers.formatDecimal(envio.envioViajes, 1, 2, 'POINT')}">
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Fecha Tipo Cambio</label>
                                        <div class="col-sm-4">
                                            <input type="text"
                                                   id="inpt-fecha-tipo-cambio"
                                                   name="inptFechaTipoCambio"
                                                   class="form-control text-uppercase text-bg-white"
                                                   readonly>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Tipo Cambio</label>
                                            <div class="col-sm-4">
                                                <input type="text"
                                                       id="inpt-tipo-cambio"
                                                       name="inpTipoCambio"
                                                       class="form-control text-uppercase">
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Precio Flete x Viaje (S/)</label>
                                            <div class="col-sm-4">
                                                <input type="text"
                                                       id="inpt-precio-flete-viaje"
                                                       name="inptPrecioFleteViaje"
                                                       class="form-control text-uppercase">
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btn-generar-costeo" class="btn btn-primary" type="button">
                        <span class="fa fa-check"></span> Generar Costeo
                    </button>
                    <button class="btn btn-default" type="button" data-dismiss="modal">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modal-agregar-adjunto" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated">
                <div class="modal-header">
                    <h4 class="modal-title">Agregar Adjunto</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <form id="frm-adjunto" class="form-horizontal">
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Archivo</label>
                                        <div class="col-sm-10">
                                            <input type="file"
                                                   id="inpt-file-archivo"
                                                   name="inptFileArchivo"
                                                   accept="image/png, image/jpeg, image/jpg, image/gif, application/pdf"/>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btn-guardar-adjunto" class="btn btn-primary" type="button">
                        <span class="fa fa-check"></span> Guardar Adjunto
                    </button>
                    <button class="btn btn-default" type="button" data-dismiss="modal">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modal-previsualizar-adjunto" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated">
                <div class="modal-header">
                    <h4 class="modal-title">Previsualizar Adjunto</h4>
                </div>
                <div class="modal-body">
                    <div id="div-preview-modal" style="width: 100%; min-height: 600px"></div>
                </div>
                <div class="modal-footer">
                    <button id="btn-descargar-adjunto" class="btn btn-primary" type="button">
                        <span class="fa fa-download"></span> Descargar
                    </button>
                    <button class="btn btn-default" type="button" data-dismiss="modal">
                        Cerrar Ventana
                    </button>
                </div>
            </div>
        </div>
    </div>

</th:block>

<th:block layout:fragment="styles">
</th:block>

<th:block layout:fragment="scripts">
    <script th:src="${@prop.srcVersion('costeoab.server.resources.base.web','/js/pages/envio_detalle.js')}"></script>
    <script th:inline="javascript">
        var envioDetalle = new EnvioDetalle(/*[[@{/}]]*/'');
        envioDetalle.init();
    </script>
</th:block>

</html>