<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/main}">
<th:block layout:fragment="content">

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Env&iacute;os</h2>
            <ol class="breadcrumb">
                <li>
                    <a th:href="@{/}">Inicio</a>
                </li>
                <li class="active">
                    <strong>Env&iacute;os</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Env&iacute;os </h5>
                        <div class="ibox-tools">
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row p-sm">
                            <form class="form-inline" onsubmit="return false;">
                                <fieldset>
                                    <div class="form-group input-date-sm">
                                        <label for="inpt-filtro-desde">Desde</label><br/>
                                        <input type="hidden" id="inpt-filtro-desde" class="form-control">
                                    </div>
                                    <div class="form-group input-date-sm">
                                        <label for="inpt-filtro-hasta">Hasta</label><br/>
                                        <input type="hidden" id="inpt-filtro-hasta" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Empresa</label><br>
                                        <select id="slc-filtro-empresa"
                                                class="form-control text-uppercase input-sm">
                                            <option value="">- TODOS -</option>
                                            <option th:each="e : ${empresas}"
                                                    th:value="${e.empresaId}"
                                                    th:text="${e.empresaRazonSocial}">
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>A&ntilde;o</label><br>
                                        <select id="slc-filtro-anio"
                                                class="form-control text-uppercase input-sm">
                                            <option value="">- TODOS -</option>
                                            <option value="2023">2023</option>
                                            <option value="2022">2022</option>
                                            <option value="2021">2021</option>
                                            <option value="2020">2020</option>
                                            <option value="2019">2019</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Semana</label><br>
                                        <input type="text"
                                               id="inpt-filtro-semana"
                                               class="form-control text-uppercase input-sm">
                                    </div>
                                    <div class="form-group vertical-bottom">
                                        <button type="button" class="btn btn-primary btn-sm" id="btn-buscar">
                                            <i class="fa fa-search"></i> Buscar
                                        </button>
                                        <button type="button" class="btn btn-success btn-sm" id="btn-nuevo">
                                            <i class="fa fa-plus"></i> Nuevo
                                        </button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="table-responsive">
                            <table id="tbl-envios" class="table table-striped table-bordered table-hover width-full">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modal-nuevo" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated">
                <div class="modal-header">
                    <h4 class="modal-title">Nuevo Env&iacute;o</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <form id="frm-nuevo" class="form-horizontal">
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Empresa</label>
                                        <div class="col-sm-4">
                                            <select id="slc-empresa"
                                                    name="slcEmpresa"
                                                    class="form-control text-uppercase input-sm">
                                                <option value="">- SELECCIONAR -</option>
                                                <option th:each="e : ${empresas}"
                                                        th:value="${e.empresaId}"
                                                        th:text="${e.empresaRazonSocial}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">A&ntilde;o</label>
                                        <div class="col-sm-4">
                                            <select id="slc-anio"
                                                    name="slcAnio"
                                                    class="form-control text-uppercase">
                                                <option value="">- SELECCIONAR -</option>
                                                <option value="2023">2023</option>
                                                <option value="2022">2022</option>
                                                <option value="2021">2021</option>
                                                <option value="2020">2020</option>
                                                <option value="2019">2019</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Semana</label>
                                        <div class="col-sm-4">
                                            <input type="text"
                                                   id="inpt-semana"
                                                   name="inptSemana"
                                                   class="form-control text-uppercase">
                                        </div>
                                    </div>

                                    <div class="alert alert-warning">
                                        La <strong>Empresa</strong>, el <strong>A&ntilde;o</strong> y la <strong>Semana</strong> ingresadas, ser&aacute;n
                                        usados para obtener los datos de los <strong>Detalles</strong> del <strong>Env&iacute;o</strong>:
                                        <strong>F&oacute;rmulas</strong> y <strong>Cantidades Producidas</strong>.
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Fecha Producci&oacute;n</label>
                                        <div class="col-sm-4">
                                            <input type="text"
                                                   id="inpt-fecha-produccion"
                                                   name="inptFechaProduccion"
                                                   class="form-control text-uppercase text-bg-white"
                                                   readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Carb Calcio Granulado</label>
                                        <div class="col-sm-4">
                                            <input type="text"
                                                   id="inpt-ccg"
                                                   name="inptCcg"
                                                   class="form-control text-uppercase">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Maiz Molido Incubadora</label>
                                        <div class="col-sm-4">
                                            <input type="text"
                                                   id="inpt-mmi"
                                                   name="inptMmi"
                                                   class="form-control text-uppercase">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Viajes Granelero (N&deg;)</label>
                                        <div class="col-sm-4">
                                            <input type="text"
                                                   id="inpt-viajes"
                                                   name="inptViajes"
                                                   class="form-control text-uppercase">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Observaciones</label>
                                        <div class="col-sm-9">
                                            <textarea id="inpt-observaciones"
                                                      name="inptObservaciones"
                                                      class="form-control text-uppercase"
                                                      rows="3"></textarea>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btn-guardar" class="btn btn-primary" type="button">
                        <span class="fa fa-check"></span> Guardar
                    </button>
                    <button class="btn btn-default" type="button" data-dismiss="modal">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modal-generar-costeo" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated">
                <div class="modal-header">
                    <h4 class="modal-title">Generar Costeo desde Env&iacute;o</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <form id="frm-generar-costeo" class="form-horizontal">
                                <fieldset>
                                    <h2 class="m-b-md m-t-n-xxs">Env&iacute;o</h2>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">N&uacute;mero</label>
                                        <div class="col-sm-4">
                                            <input type="text"
                                                   id="inpt-generar-numero"
                                                   class="form-control text-uppercase"
                                                   readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Empresa</label>
                                        <div class="col-sm-4">
                                            <input type="text"
                                                   id="inpt-generar-empresa"
                                                   class="form-control text-uppercase"
                                                   readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">A&ntilde;o</label>
                                        <div class="col-sm-4">
                                            <input type="text"
                                                   id="inpt-generar-anio"
                                                   class="form-control text-uppercase"
                                                   readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Semana</label>
                                        <div class="col-sm-4">
                                            <input type="text"
                                                   id="inpt-generar-semana"
                                                   class="form-control text-uppercase"
                                                   readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Fecha Producci&oacute;n</label>
                                        <div class="col-sm-4">
                                            <input type="text"
                                                   id="inpt-generar-fecha-produccion"
                                                   class="form-control text-uppercase"
                                                   readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Carb Calcio Granulado</label>
                                        <div class="col-sm-4">
                                            <input type="text"
                                                   id="inpt-generar-ccg"
                                                   class="form-control text-uppercase"
                                                   readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Maiz Molido Incubadora</label>
                                        <div class="col-sm-4">
                                            <input type="text"
                                                   id="inpt-generar-mmi"
                                                   class="form-control text-uppercase"
                                                   readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Viajes Granelero (N&deg;)</label>
                                        <div class="col-sm-4">
                                            <input type="text"
                                                   id="inpt-generar-viajes"
                                                   class="form-control text-uppercase"
                                                   readonly>
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Fecha Tipo Cambio</label>
                                        <div class="col-sm-4">
                                            <input type="text"
                                                   id="inpt-fecha-tipo-cambio"
                                                   name="inptFechaTipoCambio"
                                                   class="form-control text-uppercase text-bg-white"
                                                   readonly>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Tipo Cambio</label>
                                            <div class="col-sm-4">
                                                <input type="text"
                                                       id="inpt-tipo-cambio"
                                                       name="inpTipoCambio"
                                                       class="form-control text-uppercase">
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Precio Flete x Viaje (S/)</label>
                                            <div class="col-sm-4">
                                                <input type="text"
                                                       id="inpt-precio-flete-viaje"
                                                       name="inptPrecioFleteViaje"
                                                       class="form-control text-uppercase">
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btn-generar-costeo" class="btn btn-primary" type="button">
                        <span class="fa fa-check"></span> Generar Costeo
                    </button>
                    <button class="btn btn-default" type="button" data-dismiss="modal">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>

</th:block>

<th:block layout:fragment="styles">
</th:block>

<th:block layout:fragment="scripts">
    <script th:src="${@prop.srcVersion('costeoab.server.resources.base.web','/js/pages/envio_lista.js')}"></script>
    <script th:inline="javascript">
        var envioLista = new EnvioLista(/*[[@{/}]]*/'');
        envioLista.init();
    </script>
</th:block>

</html>