<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/main}">
<th:block layout:fragment="content">

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Principal</h2>
            <ol class="breadcrumb">
                <li>
                    <a th:href="@{/}">Inicio</a>
                </li>
                <li class="active">
                    <strong>Molino</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Principal</h5>
                    </div>
                    <div class="ibox-content">
                        Bienvenido al sistema, <span th:utext="${#authentication.name}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</th:block>

<th:block layout:fragment="styles">
</th:block>

<th:block layout:fragment="scripts">
    <script th:src="${@prop.srcVersion('costeoab.server.resources.base.web','/js/pages/inicio.js')}"></script>
    <script th:inline="javascript">
        var inicio = new Inicio(/*[[@{/}]]*/'');
        inicio.init();
    </script>
</th:block>

</html>