<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Costeo AB | Login</title>

    <link rel="shortcut icon" type="image/x-icon" th:href="${@prop.src('costeoab.server.resources.base.web', '/img/favicon.ico')}"/>
    <link rel="icon" type="image/ico" th:href="${@prop.src('costeoab.server.resources.base.web', '/img/favicon.ico')}"/>

    <link href="css/bootstrap.min.css" th:href="${@prop.src('costeoab.server.resources.base.web', '/css/bootstrap.min.css')}" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" th:href="${@prop.src('costeoab.server.resources.base.web', '/font-awesome/css/font-awesome.css')}" rel="stylesheet">

    <link href="css/animate.css" th:href="${@prop.src('costeoab.server.resources.base.web', '/css/animate.css')}" rel="stylesheet">
    <link href="css/style.css" th:href="${@prop.src('costeoab.server.resources.base.web', '/css/style.css')}" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <br>
            <div>
                <!--<h1 class="logo-name">Avivel</h1>-->
                <img th:src="${@prop.src('costeoab.server.resources.base.web', '/img/logo-avivel.png')}" alt="">
            </div>
            <br>
            <h3>Costeo AB</h3>
            <p></p>
            <p>Ingrese sus datos de acceso</p>
            <form class="m-t" role="form" th:action="@{/autenticar}" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Usuario" required name="username" autocomplete="on">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Contrase&ntilde;a" required name="password" autocomplete="on">
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Ingresar</button>

                <!--<a href="#"><small>&iquest;Olvidaste tu contrase&ntilde;a?</small></a>-->
                <!--<p class="text-muted text-center"><small>Do not have an account?</small></p>
                <a class="btn btn-sm btn-white btn-block" href="register.html">Create an account</a>-->
            </form>

            <div class="alert alert-danger fade in no-margin margin-top-10" th:if="${msg}">
                <button class="close" data-dismiss="alert"> &times; </button>
                <span th:text="${msg}"></span>
            </div>

            <p class="m-t"> <small>Costeo AB &copy; 2019</small> </p>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="js/jquery-2.1.1.js" th:src="${@prop.src('costeoab.server.resources.base.web', '/js/jquery-2.1.1.js')}"></script>
    <script src="js/bootstrap.min.js" th:src="${@prop.src('costeoab.server.resources.base.web', '/js/bootstrap.min.js')}"></script>

</body>

</html>
