<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<th:block th:fragment="navigation">

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu" th:with="view = ${#httpServletRequest.getServletPath()}">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold text-uppercase">
                                        <span th:text="${session.usuario.usuarioNombre}" th:remove="tag"></span>
                                    </strong>
                                </span>
                                <span class="text-muted text-xs block">Avivel <b class="caret"></b></span>
                            </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a th:href="@{/cerrar-sesion}">Salir</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    Av+
                </div>
            </li>
            <li th:classappend="${#strings.startsWith(view, '/inicio') ? 'active' : ''}">
                <a th:href="@{/}"><i class="fa fa-desktop"></i> <span class="nav-label">Principal</span></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Maestras</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li th:classappend="${#strings.startsWith(view, '/plantillas') ? 'active' : ''}"><a th:href="@{/plantillas}">Plantillas</a></li>
                    <li th:classappend="${#strings.startsWith(view, '/formulas') ? 'active' : ''}"><a th:href="@{/formulas}">F&oacute;rmulas</a></li>
                    <li th:classappend="${#strings.startsWith(view, '/articulos') ? 'active' : ''}"><a th:href="@{/articulos}">Art&iacute;culos</a></li>
                </ul>
            </li>
            <li th:classappend="${#strings.startsWith(view, '/envios') ? 'active' : ''}">
                <a th:href="@{/envios}"><i class="fa fa-send"></i> <span class="nav-label">Env&iacute;os y Costeos</span></a>
            </li>
            <li class="hide" th:classappend="${#strings.startsWith(view, '/costeos') ? 'active' : ''}">
                <a th:href="@{/costeos}"><i class="fa fa-dollar"></i> <span class="nav-label">Costeos</span></a>
            </li>
        </ul>
    </div>
</nav>

</th:block>
</html>