<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Costeo AB</title>

    <link rel="shortcut icon" type="image/x-icon" th:href="${@prop.src('costeoab.server.resources.base.web', '/img/favicon.ico')}"/>
    <link rel="icon" type="image/ico" th:href="${@prop.src('costeoab.server.resources.base.web', '/img/favicon.ico')}"/>

    <link href="css/bootstrap.min.css" th:href="${@prop.src('costeoab.server.resources.base.web', '/css/bootstrap.min.css')}" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" th:href="${@prop.src('costeoab.server.resources.base.web', '/font-awesome/css/font-awesome.css')}" rel="stylesheet">

    <link th:href="${@prop.src('costeoab.server.resources.base.web','/css/plugins/dataTables/datatables.1.10.18.css')}" rel="stylesheet">
    <link th:href="${@prop.src('costeoab.server.resources.base.web','/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css')}" rel="stylesheet">
    <link th:href="${@prop.src('costeoab.server.resources.base.web','/css/plugins/select2/select2.min.css')}" rel="stylesheet">
    <link th:href="${@prop.src('costeoab.server.resources.base.web','/css/plugins/datepicker-fullscreen/bootstrap-datepicker/bootstrap-datepicker3.min.css')}" rel="stylesheet">
    <link th:href="${@prop.src('costeoab.server.resources.base.web','/css/plugins/datepicker-fullscreen/datepicker-in-fullscreen.css')}" rel="stylesheet">

    <link th:href="${@prop.src('costeoab.server.resources.base.web', '/css/animate.css')}" rel="stylesheet">
    <link th:href="${@prop.src('costeoab.server.resources.base.web', '/css/style.css')}" rel="stylesheet">
    <link th:href="${@prop.srcVersion('costeoab.server.resources.base.web', '/css/custom.css')}" rel="stylesheet">

    <th:block layout:fragment="styles"></th:block>

</head>

<body class="skin-1">

    <div id="wrapper">

        <!-- #HEADER -->
        <th:block th:replace="fragments/navigation :: navigation"></th:block>
        <!-- END HEADER -->

        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                        <form role="search" class="navbar-form-custom" method="post" action="#">
                            <div class="form-group">
                                <input type="text" placeholder="Search for something..." class="form-control hide" name="top-search" id="top-search">
                            </div>
                        </form>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <a th:href="@{/cerrar-sesion}">
                                <i class="fa fa-sign-out"></i> Salir
                            </a>
                        </li>
                    </ul>

                </nav>
            </div>

                <!-- #CONTENT-->
                <th:block layout:fragment="content"></th:block>
                <!-- END #CONTENT -->

            <!-- #FOOTER -->
            <th:block th:replace="fragments/footer :: footer"></th:block>
            <!-- END FOOTER -->

        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="js/jquery-2.1.1.js" th:src="${@prop.src('costeoab.server.resources.base.web', '/js/jquery-2.1.1.js')}"></script>
    <script src="js/bootstrap.min.js" th:src="${@prop.src('costeoab.server.resources.base.web', '/js/bootstrap.min.js')}"></script>
    <script src="js/plugins/metisMenu/jquery.metisMenu.js" th:src="${@prop.src('costeoab.server.resources.base.web', '/js/plugins/metisMenu/jquery.metisMenu.js')}"></script>
    <script src="js/plugins/slimscroll/jquery.slimscroll.min.js" th:src="${@prop.src('costeoab.server.resources.base.web', '/js/plugins/slimscroll/jquery.slimscroll.min.js')}"></script>

    <script th:src="${@prop.src('costeoab.server.resources.base.web','/js/accounting.js')}"></script>
    <script th:src="${@prop.src('costeoab.server.resources.base.web','/js/plugins/datepicker-fullscreen/moment/moment.min.js')}"></script>
    <script th:src="${@prop.src('costeoab.server.resources.base.web','/js/plugins/dataTables/datatables.1.10.18.js')}"></script>
    <script th:src="${@prop.src('costeoab.server.resources.base.web','/js/plugins/select2/select2.full.min.js')}"></script>
    <script th:src="${@prop.src('costeoab.server.resources.base.web','/js/plugins/sweetalert2/sweetalert2.all.min.js')}"></script>
    <script th:src="${@prop.src('costeoab.server.resources.base.web','/js/plugins/validate/jquery.validate.min.js')}"></script>
    <script th:src="${@prop.src('costeoab.server.resources.base.web','/js/plugins/validate/additional-methods.min.js')}"></script>
    <script th:src="${@prop.src('costeoab.server.resources.base.web','/js/plugins/validate/custom-methods.js')}"></script>
    <script th:src="${@prop.src('costeoab.server.resources.base.web','/js/plugins/datepicker-fullscreen/bootstrap-datepicker/bootstrap-datepicker.min.js')}"></script>
    <script th:src="${@prop.src('costeoab.server.resources.base.web','/js/plugins/datepicker-fullscreen/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js')}"></script>
    <script th:src="${@prop.src('costeoab.server.resources.base.web','/js/plugins/datepicker-fullscreen/datepicker-in-fullscreen.js')}"></script>
    <script th:src="${@prop.src('costeoab.server.resources.base.web','/js/pdfobject.min.js')}"></script>

    <!-- Custom and plugin javascript -->
    <script th:src="${@prop.src('costeoab.server.resources.base.web', '/js/inspinia.js')}"></script>
    <script th:src="${@prop.src('costeoab.server.resources.base.web', '/js/plugins/pace/pace.min.js')}"></script>

    <script>
        $(document).ready(function() {

            $("body").tooltip({ selector: '[data-toggle=tooltip]' });

            $('#side-menu li.active').parent().closest('li').addClass('active');
            $('#side-menu li.active').parent().closest('ul').addClass('in');
        });
    </script>

    <script th:src="${@prop.srcVersion('costeoab.server.resources.base.web', '/js/custom.js')}"></script>

    <th:block layout:fragment="scripts"></th:block>

</body>

</html>
