<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/main}">
<th:block layout:fragment="content">

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Art&iacute;culos</h2>
            <ol class="breadcrumb">
                <li>
                    <a th:href="@{/}">Inicio</a>
                </li>
                <li class="active">
                    <strong>Art&iacute;culos</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Art&iacute;culos </h5>
                        <div class="ibox-tools">
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row p-sm">
                            <form class="form-inline" onsubmit="return false;">
                                <fieldset>
                                    <div class="form-group">
                                        <label>C&oacute;digo</label><br>
                                        <input type="text"
                                               id="inpt-codigo2"
                                               class="form-control text-uppercase input-sm">
                                    </div>
                                    <div class="form-group">
                                        <label>C&oacute;digo SAP</label><br>
                                        <input type="text"
                                               id="inpt-codigo"
                                               class="form-control text-uppercase input-sm">
                                    </div>
                                    <div class="form-group">
                                        <label>Descripci&oacute;n</label><br>
                                        <input type="text"
                                               id="inpt-descripcion"
                                               class="form-control text-uppercase input-sm">
                                    </div>
                                    <div class="form-group vertical-bottom">
                                        <button type="button" class="btn btn-primary btn-sm" id="btn-buscar">
                                            <i class="fa fa-search"></i> Buscar
                                        </button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="table-responsive">
                            <table id="tbl-articulos" class="table table-striped table-bordered table-hover">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modal-precios" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated">
                <div class="modal-header">
                    <h4 class="modal-title">Asignar Nuevos Precios</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <form id="frm-precios" class="form-horizontal">
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Art&iacute;culo</label>
                                        <div class="col-sm-10">
                                            <input type="hidden" id="inpt-articulo-id" name="inptArticuloId">
                                            <textarea id="inpt-articulo-descripcion"
                                                      class="form-control text-uppercase"
                                                      rows="3"
                                                      readonly></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Unidad Medida</label>
                                        <div class="col-sm-10">
                                            <input type="text"
                                                   id="inpt-unidad-medida"
                                                   class="form-control text-uppercase"
                                                   readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Precio ($)</label>
                                        <div class="col-sm-10">
                                            <input type="text"
                                                   id="inpt-precio"
                                                   name="inptPrecio"
                                                   class="form-control text-uppercase">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Precio Flete ($)</label>
                                        <div class="col-sm-10">
                                            <input type="text"
                                                   id="inpt-precio-flete"
                                                   name="inptPrecioFlete"
                                                   class="form-control text-uppercase">
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btn-guardar-precios" class="btn btn-primary" type="button">
                        <span class="fa fa-check"></span> Guardar Precios
                    </button>
                    <button class="btn btn-default" type="button" data-dismiss="modal">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>

</th:block>

<th:block layout:fragment="styles">
</th:block>

<th:block layout:fragment="scripts">
    <script th:src="${@prop.srcVersion('costeoab.server.resources.base.web','/js/pages/articulo_lista.js')}"></script>
    <script th:inline="javascript">
        var articuloLista = new ArticuloLista(/*[[@{/}]]*/'');
        articuloLista.init();
    </script>
</th:block>

</html>