<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<th:block layout:fragment="content">

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Detalle F&oacute;rmula</h2>
            <ol class="breadcrumb">
                <li>
                    <a th:href="@{/}">Inicio</a>
                </li>
                <li>
                    <a th:href="@{/formulas}">F&oacute;rmulas</a>
                </li>
                <li class="active">
                    <strong>Detalle: <span th:text="${formula.formulaId}" th:remove="tag"></span></strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Datos Generales</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <form id="frm-formula" class="form-horizontal" onsubmit="return false;">
                                <input type="hidden" id="inpt-formula-id" th:value="${formula.formulaId}">
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Empresa</label>
                                        <div class="col-sm-6">
                                            <select id="slc-plantilla-empresa"
                                                    class="form-control text-uppercase"
                                                    disabled>
                                                <option th:each="e : ${empresas}"
                                                        th:utext="${e.empresaRazonSocial}"
                                                        th:value="${e.empresaId}"
                                                        th:selected="${e.empresaId == formula.empresa.empresaId}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">A&ntilde;o</label>
                                        <div class="col-sm-6">
                                            <input type="text"
                                                   id="inpt-formula-anio"
                                                   class="form-control text-uppercase"
                                                   readonly
                                                   th:value="${formula.formulaAnio}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Semana</label>
                                        <div class="col-sm-6">
                                            <input type="text"
                                                   id="inpt-formula-semana"
                                                   class="form-control text-uppercase"
                                                   readonly
                                                   th:value="${formula.formulaSemana}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">C&oacute;digo</label>
                                        <div class="col-sm-6">
                                            <input type="text"
                                                   id="inpt-formula-codigo"
                                                   class="form-control text-uppercase"
                                                   readonly
                                                   th:value="${formula.formulaCodigo}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Descripci&oacute;n</label>
                                        <div class="col-sm-6">
                                            <textarea id="inpt-formula-descripcion"
                                                      name="inptFormulaDescripcion"
                                                      class="form-control text-uppercase"
                                                      rows="3"
                                                      readonly
                                                      th:text="${formula.formulaDescripcion}"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Observaciones</label>
                                        <div class="col-sm-6">
                                            <textarea id="inpt-formula-observaciones"
                                                      name="inptFormulaObservaciones"
                                                      class="form-control text-uppercase"
                                                      rows="3"
                                                      readonly
                                                      th:text="${formula.formulaObservaciones}"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Cantidad Producida</label>
                                        <div class="col-sm-3">
                                            <input type="text"
                                                   id="inpt-formula-cantidad_producida"
                                                   name="inptFormulaCantidadProducida"
                                                   class="form-control text-uppercase"
                                                   th:value="${#numbers.formatDecimal(formula.formulaCantidadProducida, 1, 'COMMA', 2, 'POINT')}">
                                        </div>
                                    </div>
                                    <div class="form-group" th:if="${formula.formulaEstado == 1}">
                                        <label class="col-sm-2 control-label"></label>
                                        <div class="col-sm-10">
                                            <button id="btn-guardar-formula" class="btn btn-warning btn-sm" type="button">
                                                <i class="fa fa-check"></i> Actualizar F&oacute;rmula
                                            </button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="alert alert-info">
                            El <strong>Precio x T</strong> y el <strong>Precio x Flete</strong> no es necesariamente
                            igual a los <strong>Precios Actuales del Articulo</strong>, ya que estos <strong>Precios del
                            Detalle</strong> se guardan de forma independiente.
                        </div>

                        <button type="button" id="btn-agregar-detalle" class="btn btn-primary btn-sm m-b-sm" th:if="${formula.formulaEstado == 1}">
                            <span class="fa fa-plus"></span> Agregar
                        </button>

                        <div class="table-responsive">
                            <table id="tbl-detalles" class="table table-striped table-bordered table-hover width-full">
                            </table>
                        </div>

                        <div class="hr-line-dashed"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modal-detalle" role="dialog" aria-hidden="true" th:if="${formula.formulaEstado == 1}">
        <div class="modal-dialog">
            <div class="modal-content animated">
                <div class="modal-header">
                    <h4 class="modal-title">Registrar Detalle</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <form id="frm-detalle" class="form-horizontal">
                                <input type="hidden" id="inpt-formula-detalle-id">
                                <fieldset>
                                    <h2 class="m-b-md">Art&iacute;culo</h2>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">C&oacute;digo</label>
                                        <div class="col-sm-7">
                                            <div class="input-group">
                                                <input type="text"
                                                       id="inpt-articulo-codigo"
                                                       class="form-control text-uppercase"
                                                       readonly>
                                                <span class="input-group-btn">
                                                    <button type="button" id="btn-buscar-articulo" class="btn btn-success"> Buscar</button>
                                                </span>
                                            </div>
                                            <input type="hidden" id="inpt-articulo-id" name="inptArticuloId" class="validate">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">C&oacute;digo SAP</label>
                                        <div class="col-sm-7">
                                            <input type="text"
                                                   id="inpt-articulo-codigo-sap"
                                                   class="form-control text-uppercase"
                                                   readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Descripci&oacute;n</label>
                                        <div class="col-sm-10">
                                            <textarea id="inpt-articulo-descripcion"
                                                      class="form-control text-uppercase"
                                                      rows="3"
                                                      readonly></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Unidad Medida</label>
                                        <div class="col-sm-10">
                                            <input id="inpt-articulo-unidad-medida" type="text" class="form-control text-uppercase" readonly>
                                            <input type="hidden" id="inpt-articulo-unidad-medida-id" name="inptArticuloUnidadMedidaId">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Observaci&oacute;n</label>
                                        <div class="col-sm-10">
                                            <textarea id="inpt-articulo-observacion"
                                                      class="form-control text-uppercase"
                                                      rows="3"
                                                      readonly></textarea>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Precio x T</label>
                                            <div class="col-sm-4">
                                                <input type="text"
                                                       id="inpt-articulo-precio"
                                                       name="inptArticuloPrecio"
                                                       class="form-control text-uppercase"
                                                       readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Flete</label>
                                            <div class="col-sm-4">
                                                <input type="text"
                                                       id="inpt-articulo-flete"
                                                       name="inptArticuloFlete"
                                                       class="form-control text-uppercase"
                                                       readonly>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>

                                    <div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Cantidad (KG)</label>
                                            <div class="col-sm-4">
                                                <input type="text"
                                                       id="inpt-cantidad"
                                                       name="inptCantidad"
                                                       class="form-control text-uppercase">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Observaciones</label>
                                        <div class="col-sm-10">
                                            <textarea id="inpt-observaciones"
                                                      name="inptObservaciones"
                                                      class="form-control text-uppercase"
                                                      rows="3"></textarea>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btn-guardar-detalle" class="btn btn-primary" type="button">
                        <span class="fa fa-check"></span> Guardar
                    </button>
                    <button class="btn btn-default" type="button" data-dismiss="modal">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modal-buscar-articulos" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content animated">
                <div class="modal-header">
                    <h4 class="modal-title">Buscar Art&iacute;culos</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <form class="form-inline m-b-sm" onsubmit="return false;">
                            <fieldset>
                                <div class="form-group">
                                    <label>C&oacute;digo</label><br>
                                    <input type="text"
                                           id="inpt-modal-codigo2"
                                           class="form-control text-uppercase input-sm">
                                </div>
                                <div class="form-group">
                                    <label>C&oacute;digo SAP</label><br>
                                    <input type="text"
                                           id="inpt-modal-codigo"
                                           class="form-control text-uppercase input-sm">
                                </div>
                                <div class="form-group">
                                    <label>Descripci&oacute;n</label><br>
                                    <input type="text"
                                           id="inpt-modal-descripcion"
                                           class="form-control text-uppercase input-sm">
                                </div>
                                <div class="form-group vertical-bottom">
                                    <button type="button" id="btn-modal-buscar" class="btn btn-primary btn-sm">
                                        Buscar
                                    </button>
                                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">
                                        Cerrar ventana
                                    </button>
                                </div>
                            </fieldset>
                        </form>
                        <div class="table-responsive">
                            <table id="tbl-modal-articulos" class="table table-bordered table-striped width-full">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modal-precios" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated">
                <div class="modal-header">
                    <h4 class="modal-title">Asignar Nuevos Precios</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <form id="frm-precios" class="form-horizontal">
                                <input type="hidden" id="inpt-precio-detalle-id">
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Art&iacute;culo</label>
                                        <div class="col-sm-10">
                                            <input type="hidden" id="inpt-precio-articulo-id" name="inptPrecioArticuloId">
                                            <textarea id="inpt-precio-articulo-descripcion"
                                                      class="form-control text-uppercase"
                                                      rows="3"
                                                      readonly></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Unidad Medida</label>
                                        <div class="col-sm-10">
                                            <input type="text"
                                                   id="inpt-precio-unidad-medida"
                                                   class="form-control text-uppercase"
                                                   readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Precio ($)</label>
                                        <div class="col-sm-10">
                                            <input type="text"
                                                   id="inpt-precio"
                                                   name="inptPrecio"
                                                   class="form-control text-uppercase">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Precio Flete ($)</label>
                                        <div class="col-sm-10">
                                            <input type="text"
                                                   id="inpt-precio-flete"
                                                   name="inptPrecioFlete"
                                                   class="form-control text-uppercase">
                                        </div>
                                    </div>
                                    <div class="alert alert-warning">
                                        <ul>
                                            <li>Los <strong>Precios</strong> que se muestran son los <strong>actuales</strong> y
                                                talvez no coincidan con los del <strong>Detalle</strong> seleccionado.</li>
                                            <li>Al <strong>Guardar</strong> los <strong>Precios</strong>, se actualizar&aacute;n tanto en
                                                este <strong>Detalle de F&oacute;rmula</strong> como en el <strong>Art&iacute;culo</strong>,
                                                es decir en ambos lados.</li>
                                        </ul>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btn-guardar-precios" class="btn btn-primary" type="button">
                        <span class="fa fa-check"></span> Guardar Precios
                    </button>
                    <button class="btn btn-default" type="button" data-dismiss="modal">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>

</th:block>

<th:block layout:fragment="styles">
</th:block>

<th:block layout:fragment="scripts">
    <script th:src="${@prop.srcVersion('costeoab.server.resources.base.web','/js/pages/formula_detalle.js')}"></script>
    <script th:inline="javascript">
        var formulaDetalle = new FormulaDetalle(/*[[@{/}]]*/'', /*[[${formula.formulaEstado}]]*/'');
        formulaDetalle.init();
    </script>
</th:block>

</html>