<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<th:block layout:fragment="content">

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Detalle Plantilla</h2>
            <ol class="breadcrumb">
                <li>
                    <a th:href="@{/}">Inicio</a>
                </li>
                <li>
                    <a th:href="@{/plantillas}">Plantillas</a>
                </li>
                <li class="active">
                    <strong>Detalle: <span th:text="${plantilla.formulaId}" th:remove="tag"></span></strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Datos Generales</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <form id="frm-plantilla" class="form-horizontal" onsubmit="return false;">
                                <input type="hidden" id="inpt-plantilla-id" th:value="${plantilla.formulaId}">
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">C&oacute;digo</label>
                                        <div class="col-sm-6">
                                            <input type="text"
                                                   id="inpt-plantilla-codigo"
                                                   name="inptPlantillaCodigo"
                                                   class="form-control text-uppercase"
                                                   readonly
                                                   th:value="${plantilla.formulaCodigo}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Descripci&oacute;n</label>
                                        <div class="col-sm-6">
                                            <textarea id="inpt-plantilla-descripcion"
                                                      name="inptPlantillaDescripcion"
                                                      class="form-control text-uppercase"
                                                      rows="3"
                                                      readonly
                                                      th:text="${plantilla.formulaDescripcion}"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Empresa</label>
                                        <div class="col-sm-6">
                                            <select id="slc-plantilla-empresa"
                                                    name="slcPlantillaEmpresa"
                                                    class="form-control text-uppercase"
                                                    disabled>
                                                <option th:each="e : ${empresas}"
                                                        th:utext="${e.empresaRazonSocial}"
                                                        th:value="${e.empresaId}"
                                                        th:selected="${e.empresaId == plantilla.empresa.empresaId}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Observaciones</label>
                                        <div class="col-sm-6">
                                            <textarea id="inpt-plantilla-observaciones"
                                                      name="inptPlantillaObservaciones"
                                                      class="form-control text-uppercase"
                                                      rows="3"
                                                      readonly
                                                      th:text="${plantilla.formulaObservaciones}"></textarea>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <button type="button" id="btn-agregar-detalle" class="btn btn-primary btn-sm m-b-sm">
                            <span class="fa fa-plus"></span> Agregar
                        </button>

                        <div class="table-responsive">
                            <table id="tbl-detalles" class="table table-striped table-bordered table-hover width-full">
                            </table>
                        </div>

                        <div class="hr-line-dashed"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modal-detalle" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated">
                <div class="modal-header">
                    <h4 class="modal-title">Registrar Detalle</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <form id="frm-detalle" class="form-horizontal">
                                <input type="hidden" id="inpt-plantilla-detalle-id">
                                <fieldset>
                                    <h2 class="m-b-md">Art&iacute;culo</h2>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">C&oacute;digo</label>
                                        <div class="col-sm-7">
                                            <div class="input-group">
                                                <input type="text"
                                                       id="inpt-articulo-codigo"
                                                       class="form-control text-uppercase"
                                                       readonly>
                                                <span class="input-group-btn">
                                                    <button type="button" id="btn-buscar-articulo" class="btn btn-success"> Buscar</button>
                                                </span>
                                            </div>
                                            <input type="hidden" id="inpt-articulo-id" name="inptArticuloId" class="validate">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">C&oacute;digo SAP</label>
                                        <div class="col-sm-7">
                                            <input type="text"
                                                   id="inpt-articulo-codigo-sap"
                                                   class="form-control text-uppercase"
                                                   readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Descripci&oacute;n</label>
                                        <div class="col-sm-10">
                                            <textarea id="inpt-articulo-descripcion"
                                                      class="form-control text-uppercase"
                                                      rows="3"
                                                      readonly></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Unidad Medida</label>
                                        <div class="col-sm-10">
                                            <input id="inpt-articulo-unidad-medida" type="text" class="form-control text-uppercase" readonly>
                                            <input type="hidden" id="inpt-articulo-unidad-medida-id" name="inptArticuloUnidadMedidaId">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Observaci&oacute;n</label>
                                        <div class="col-sm-10">
                                            <textarea id="inpt-articulo-observacion"
                                                      class="form-control text-uppercase"
                                                      rows="3"
                                                      readonly></textarea>
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>

                                    <div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Cantidad (KG)</label>
                                            <div class="col-sm-4">
                                                <input type="text"
                                                       id="inpt-cantidad"
                                                       name="inptCantidad"
                                                       class="form-control text-uppercase">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Observaciones</label>
                                        <div class="col-sm-10">
                                            <textarea id="inpt-observaciones"
                                                      name="inptObservaciones"
                                                      class="form-control text-uppercase"
                                                      rows="3"></textarea>
                                        </div>
                                    </div>

                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btn-guardar-detalle" class="btn btn-primary" type="button">
                        <span class="fa fa-check"></span> Guardar
                    </button>
                    <button class="btn btn-default" type="button" data-dismiss="modal">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modal-buscar-articulos" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content animated">
                <div class="modal-header">
                    <h4 class="modal-title">Buscar Art&iacute;culos</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <form class="form-inline m-b-sm" onsubmit="return false;">
                            <fieldset>
                                <div class="form-group">
                                    <label>C&oacute;digo</label><br>
                                    <input type="text"
                                           id="inpt-modal-codigo2"
                                           class="form-control text-uppercase input-sm">
                                </div>
                                <div class="form-group">
                                    <label>C&oacute;digo SAP</label><br>
                                    <input type="text"
                                           id="inpt-modal-codigo"
                                           class="form-control text-uppercase input-sm">
                                </div>
                                <div class="form-group">
                                    <label>Descripci&oacute;n</label><br>
                                    <input type="text"
                                           id="inpt-modal-descripcion"
                                           class="form-control text-uppercase input-sm">
                                </div>
                                <div class="form-group vertical-bottom">
                                    <button type="button" id="btn-modal-buscar" class="btn btn-primary btn-sm">
                                        Buscar
                                    </button>
                                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">
                                        Cerrar ventana
                                    </button>
                                </div>
                            </fieldset>
                        </form>
                        <div class="table-responsive">
                            <table id="tbl-modal-articulos" class="table table-bordered table-striped width-full">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</th:block>

<th:block layout:fragment="styles">
</th:block>

<th:block layout:fragment="scripts">
    <script th:src="${@prop.srcVersion('costeoab.server.resources.base.web','/js/pages/plantilla_detalle.js')}"></script>
    <script th:inline="javascript">
        var plantillaDetalle = new PlantillaDetalle(/*[[@{/}]]*/'');
        plantillaDetalle.init();
    </script>
</th:block>

</html>