<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/main}">
<th:block layout:fragment="content">

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Plantillas de F&oacute;rmulas</h2>
            <ol class="breadcrumb">
                <li>
                    <a th:href="@{/}">Inicio</a>
                </li>
                <li class="active">
                    <strong>Plantillas</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Plantillas </h5>
                        <div class="ibox-tools">
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row p-sm">
                            <form class="form-inline" onsubmit="return false;">
                                <fieldset>
                                    <div class="form-group">
                                        <label>Empresa</label><br>
                                        <select id="slc-filtro-empresa"
                                                class="form-control text-uppercase input-sm">
                                            <option value="">- TODOS -</option>
                                            <option th:each="e : ${empresas}"
                                                    th:value="${e.empresaId}"
                                                    th:text="${e.empresaRazonSocial}">
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>C&oacute;digo</label><br>
                                        <input type="text"
                                               id="inpt-codigo"
                                               class="form-control text-uppercase input-sm">
                                    </div>
                                    <div class="form-group">
                                        <label>Descripci&oacute;n</label><br>
                                        <input type="text"
                                               id="inpt-descripcion"
                                               class="form-control text-uppercase input-sm">
                                    </div>
                                    <div class="form-group vertical-bottom">
                                        <button type="button" class="btn btn-primary btn-sm" id="btn-buscar">
                                            <i class="fa fa-search"></i> Buscar
                                        </button>
                                        <button type="button" class="btn btn-success btn-sm" id="btn-nuevo" th:if="${false}">
                                            <i class="fa fa-plus"></i> Nuevo
                                        </button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="table-responsive">
                            <table id="tbl-plantillas" class="table table-striped table-bordered table-hover width-full">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modal-nuevo" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated">
                <div class="modal-header">
                    <h4 class="modal-title">Nueva Plantilla</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <form id="frm-nuevo" class="form-horizontal">
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">C&oacute;digo</label>
                                        <div class="col-sm-10">
                                            <input type="text"
                                                   id="inpt-plantilla-codigo"
                                                   name="inptPlantillaCodigo"
                                                   class="form-control text-uppercase"
                                                   readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Descripci&oacute;n</label>
                                        <div class="col-sm-10">
                                            <textarea id="inpt-plantilla-descripcion"
                                                      name="inptPlantillaDescripcion"
                                                      class="form-control text-uppercase"
                                                      rows="3"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Empresa</label>
                                        <div class="col-sm-10">
                                            <select id="slc-plantilla-empresa"
                                                    name="slcPlantillaEmpresa"
                                                    class="form-control text-uppercase">
                                                <option value="">- SELECCIONAR -</option>
                                                <option th:each="e : ${empresas}"
                                                        th:utext="${e.empresaRazonSocial}"
                                                        th:value="${e.empresaId}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Observaciones</label>
                                        <div class="col-sm-10">
                                            <textarea id="inpt-plantilla-observaciones"
                                                      name="inptPlantillaObservaciones"
                                                      class="form-control text-uppercase"
                                                      rows="3"></textarea>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btn-guardar" class="btn btn-primary" type="button">
                        <span class="fa fa-check"></span> Guardar
                    </button>
                    <button class="btn btn-default" type="button" data-dismiss="modal">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modal-clonar" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated">
                <div class="modal-header">
                    <h4 class="modal-title">Clonar Plantilla</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <form id="frm-clonar" class="form-horizontal">
                                <input type="hidden" id="inpt-clonar-formula-parent-id">
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">C&oacute;digo</label>
                                        <div class="col-sm-10">
                                            <input type="text"
                                                   id="inpt-clonar-codigo"
                                                   name="inptClonarCodigo"
                                                   class="form-control text-uppercase">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Descripci&oacute;n</label>
                                        <div class="col-sm-10">
                                            <textarea id="inpt-clonar-descripcion"
                                                      name="inptClonarDescripcion"
                                                      class="form-control text-uppercase"
                                                      rows="3"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Empresa</label>
                                        <div class="col-sm-10">
                                            <select id="slc-clonar-empresa"
                                                    name="slcClonarEmpresa"
                                                    class="form-control text-uppercase input-sm">
                                                <option value="">- SELECCIONAR -</option>
                                                <option th:each="e : ${empresas}"
                                                        th:value="${e.empresaId}"
                                                        th:text="${e.empresaRazonSocial}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Observaciones</label>
                                        <div class="col-sm-10">
                                            <textarea id="inpt-clonar-observaciones"
                                                      name="inptClonarObservaciones"
                                                      class="form-control text-uppercase"
                                                      rows="3"></textarea>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btn-guardar-clonar" class="btn btn-primary" type="button">
                        <span class="fa fa-check"></span> Clonar Plantilla
                    </button>
                    <button class="btn btn-default" type="button" data-dismiss="modal">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>

</th:block>

<th:block layout:fragment="styles">
</th:block>

<th:block layout:fragment="scripts">
    <script th:src="${@prop.srcVersion('costeoab.server.resources.base.web','/js/pages/plantilla_lista.js')}"></script>
    <script th:inline="javascript">
        var plantillaLista = new PlantillaLista(/*[[@{/}]]*/'');
        plantillaLista.init();
    </script>
</th:block>

</html>