.text-bottom, .bottom, .vertical-bottom {
    vertical-align: bottom!important;
}

.text-top, .top, .vertical-top {
    vertical-align: top!important;
}

.bg-white {
    background-color: white;
}

div.dataTables_wrapper div.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
}

.tab-error {
    background-color: rgb(236, 71, 88)!important;
    color: rgb(255, 255, 255)!important;
}

.has-error .select2-selection {
    border: 1px solid #ed5565;
    border-radius: 4px;
}

.table.no-margin-table {
    margin-bottom: 0!important;
}

.width-full {
    width: 100% !important;
}

.input-date-sm .dpifs-fake-input {
    height: 30px;
    line-height: 30px;
    width: 160px;
}
.input-date .dpifs-fake-input {
    height: 34px;
    line-height: 34px;
    width: 160px;
}

.dpifs-fake-input:after{
    float: right;
    margin-top: 7px;
    margin-left: 15px;
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f073";
}

.swal2-popup {
    font-size: 1.6rem !important;
}

.checkbox-pointer {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.swal2-container {
    z-index: 2060!important;
}

.select2-container {
    z-index: 2050!important;
}

td.details-control {
    background: url('../img/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../img/details_close.png') no-repeat center center;
}

label.error {
    margin-left: 0!important;
}

.tooltip {
    font-family: "overpass", "Helvetica Neue", Helvetica, Arial, sans-serif!important;
}

table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
    vertical-align: middle!important;
}

.form-control, .single-line {
    padding: 1px 12px!important;
}

.text-bg-white {
    background-color: white!important;
}
