<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>403 - Error</title>

    <link rel="shortcut icon" type="image/x-icon" th:href="${@prop.src('costeoab.server.resources.base.web', '/img/favicon.ico')}"/>
    <link rel="icon" type="image/ico" th:href="${@prop.src('costeoab.server.resources.base.web', '/img/favicon.ico')}"/>

    <link href="css/bootstrap.min.css" th:href="${@prop.src('costeoab.server.resources.base.web', '/css/bootstrap.min.css')}" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" th:href="${@prop.src('costeoab.server.resources.base.web', '/font-awesome/css/font-awesome.css')}" rel="stylesheet">

    <link href="css/animate.css" th:href="${@prop.src('costeoab.server.resources.base.web', '/css/animate.css')}" rel="stylesheet">
    <link href="css/style.css" th:href="${@prop.src('costeoab.server.resources.base.web', '/css/style.css')}" rel="stylesheet">
</head>

<body class="gray-bg">

    <div class="middle-box text-center animated fadeInDown">
        <h1>403</h1>
        <h3 class="font-bold">Acceso denegado</h3>

        <div class="error-desc">
            Acceso denegado a la p&aacute;gina. Consulte con soporte.
            <br/>
            <br/>
            <a th:href="@{/}" class="btn btn-primary m-t">Ir a la P&aacute;gina Principal</a>
            <button onclick="window.history.back();" class="btn btn-warning m-t">Volver atras</button>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="js/jquery-2.1.1.js" th:src="${@prop.src('costeoab.server.resources.base.web', '/js/jquery-2.1.1.js')}"></script>
    <script src="js/bootstrap.min.js" th:src="${@prop.src('costeoab.server.resources.base.web', '/js/bootstrap.min.js')}"></script>

</body>

</html>
